<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
</head>

<body>
    <main>
        <h1>{{ .Page.Title }}</h1>
        {{ if .Page.Params.Image }}
        {{ $img := resources.Get (printf "img/%s" .Page.Params.Image) }}
        {{ $img := $img.Fit "600x400" }}
        <img src="{{ $img.Permalink }}">
        {{ end }}
        {{ block "body" . }}{{end}}
    </main>
</body>

</html>